body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.messageContainer {
  margin: 20px;
  

}

.message {
  border: solid;
  border-width: thin;
  margin: 5px;
  border-radius: 5px;
  padding-left: 5px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

.messageHeader {
  margin-bottom: 0px;
  margin-top: 3px;
}

.messageText {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.messageName {
  font-size: 0.7rem;
  font-weight: bold;
}

.messageDate {
  font-size: 0.6rem;
  font-weight: normal;
}

.button {
  background-color: #ee6e73;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: auto 25%;
}

.participants {
  margin: 10px;
  padding: 10px;
  text-align: left;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

.msgView {
  max-height: 500px;
  min-height: 500px;
  overflow-y: scroll;
}

.msgInput {
  margin: 10px;
  padding: 10px;
  width: 75%;
}

.banner {
  margin: .5rem 0 2rem 0;
  margin-left: 25%;
}

.smaller {
  font-size: smaller;
}

.login_container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login {
  margin: 10rem;
  padding: 1rem;
  border: solid;
  border-radius: 20px;
  width: 25rem;
  display: inline-block;
  background-color: #D4FAF8;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

.cardHeader {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no_conversations {
  margin-top: 50px;
  display: inline-block;
  font-size: large;
  font-weight: bold;
}

.conversation_li {
  margin-left: 15px;
  font-size: large;
}

.conversation_li:hover {
  color: darkgray;
  cursor: pointer;
}

.conversation_header {
  margin-left: 5px;
}

.participants_header {
  margin: auto;
}

.participant_li {
  font-size: large;
  margin-left: 2rem;
}